<h1>Burgers</h1>

<div id="wanttoeat">
  <h2>Burgers you want to eat!</h2>
</div>

<ul>
  {{#each burgers}}
  {{#unless eaten}}
  <li>
    {{../partials/burger/burger-block eaten=true}}
    {{this.id}}. {{this.name}}
  </li>
  {{/unless}}
  {{/each}}
</ul>

<div id="eatenburgers">
  <h2>Burgers you haven't eaten!</h2>
</div>

<ul>
  {{#each burgers}}
  {{#if eaten}}
  {{../partials/burger/burger-block eaten=false}}
  {{this.id}}. {{this.name}}
  {{/if}}
  {{/each}}
</ul>

<form class="create-form">
  <img src="https://res.cloudinary.com/teepublic/image/private/s--xyST5os1--/t_Preview/b_rgb:ffb81c,c_limit,f_jpg,h_630,q_90,w_630/v1556355628/production/designs/4726743_0.jpg">
  <div class="form-group">
    <label for="name">Burger Name:</label>
    <input type="text" id="name" name="newburger">
    <label for="eaten">Eaten:</label><br>
    <select>
      <option value="1">Eaten</option>
      <option value="0">Not Eaten</option>
    </select>
  </div>

  <button type="submit" class="btn btn-default" id="create-form">Add Burger</button>
</form>